body {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}
h1 {
  color: #f49015;
  display: block;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 900;
}
ul {
  padding: 0;
  margin: 50px 15px 0 15px;
}
li {
  list-style-type: none;
  text-transform: capitalize;
  margin-bottom: 10px;
}
footer {
  position: relative;
}
.submit-button {
  margin-left: 30px;
  background-color: #5c6062;
  border: #151515;
  color: #ffff;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px #76746b;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}
.submit-button:hover {
  color: #ec7c5d;
  background: white;
  text-decoration: underline;
  cursor: pointer;
}
#searched-city {
  border: 2px solid #58595b;
  border-radius: 4px;
  padding: 5px 35px 5px 10px;
  background-color: #fce7c4;
}
.container {
  max-width: 800px;
  font-family: "Girassol", cursive;
  background: url(img/day_img.webp);
  opacity: 0.9;
  margin: 30px auto;
  padding: 30px;
  border: 3px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    "A A A A A"
    "B B K C D"
    "F G H I J";
}
#search-form {
  grid-area: A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.currentweatherinfo1 {
  grid-area: B;
  text-transform: capitalize;
  text-align: center;
  line-height: 1px;
  margin-top: 40px;
}
.currentweatherinfo1 #current-city {
  font-size: 30px;
}
.currentweatherinfo2 {
  grid-area: K;
}
.currentweatherinfo3 {
  grid-area: C;
  text-align: center;
  margin-top: 40px;
}
.currentweatherinfo4 {
  grid-area: D;
}
.currentweatherinfo3 strong {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
.currentweatherinfo3 .units {
  position: relative;
  font-size: 16px;
  top: -24px;
}
.currentweatherinfo3 .active {
  color: black;
  cursor: pointer;
}
#future-date1 {
  grid-area: F;
  border-top: 3px solid rgb(242, 242, 242);
}
#future-date2 {
  grid-area: G;
  border-top: 3px solid rgb(242, 242, 242);
}
#future-date3 {
  grid-area: H;
  border-top: 3px solid rgb(242, 242, 242);
}
#future-date4 {
  grid-area: I;
  border-top: 3px solid rgb(242, 242, 242);
}
#future-date5 {
  grid-area: J;
  border-top: 3px solid rgb(242, 242, 242);
}
.futureweatherdate {
  text-align: center;
}
#weather-icon {
  display: block;
  margin: 0 auto;
}
#currenthighlowtemp {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
}
