/* body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(37, 45, 49) 24.5%,
    rgb(37, 45, 49) 66%
  );
  padding: 20px;
} */
h1 {
  /* color: #fff; */
  display: block;
  text-align: center;
}
ul {
  padding: 0;
  margin: 30px 15px 0 15px;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  border: 3px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    "A A A A A"
    "B B K C D"
    "F G H I J";
}
#search-form {
  grid-area: A;
}
.currentweatherinfo1 {
  grid-area: B;
  text-transform: capitalize;
}
.currentweatherinfo2 {
  grid-area: K;
}
.currentweatherinfo3 {
  grid-area: C;
}
.currentweatherinfo4 {
  grid-area: D;
}
#future-date1 {
  grid-area: F;
}
#future-date2 {
  grid-area: G;
}
#future-date3 {
  grid-area: H;
}
#future-date4 {
  grid-area: I;
}
#future-date5 {
  grid-area: J;
}
#weather-icon {
  display: block;
  margin: 0 auto;
}
#currenthighlowtemp {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}
